<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManyConsole" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net48" />
  <package id="Mono.Options" version="6.12.0.148" targetFramework="net48" />
</packages>