name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:

    runs-on: windows-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2
      with:
        msbuild-architecture: x64
    - run: |
        msbuild /t:restore /p:configuration=release /p:platform="Any CPU" ppt-diffmerge.sln
      name: restore        
    - run: |
        msbuild /t:build /p:configuration=release /p:platform="Any CPU" ppt-diffmerge.sln
      name: build
    - run: |
        cd ./ppt-diffmerge-tool/bin/Release/
        7z a ppt-diffmerge.zip -tzip
      name: Zip Artifact 
    - run: |
        gh release delete latest --yes --cleanup-tag
        git tag latest HEAD --force
        git push origin --tags --force
        gh release create latest --generate-notes --latest --title "Development Build" ./ppt-diffmerge-tool/bin/Release/ppt-diffmerge.zip
      name: Create Release
      env:
        GH_TOKEN: ${{ github.token }}
      if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
